cloudpickle==3.1.1
contourpy
coverage==7.7.0
cycler==0.12.1
fonttools==4.56.0
imbalanced-learn>=0.12.4
imblearn==0.0
iniconfig==2.1.0
joblib==1.4.2
kiwisolver==1.4.7
llvmlite==0.43.0
matplotlib
numba
numpy
nvidia-nccl-cu12
packaging
pandas
pillow
pluggy
pyparsing
pytest
pytest-cov
python-dateutil
pytz
scikit-learn
scipy
seaborn
shap
six
sklearn-compat
slicer
threadpoolctl
tqdm
typing_extensions
tzdata
xgboost

